@layer base {
    h1 {
        @apply font-bold text-lg mb-1;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply font-semibold mt-4;

        &:first-child {
            @apply mt-0;
        }
    }

    table {
        text-align: left;
    }

    .table {
        th,
        td {
            &:not([class*="px-"]):not([class*="pl-"]) {
                @apply pl-4;
            }

            &:not([class*="px-"]):not([class*="pr-"]) {
                @apply pr-4;
            }

            &:not([class*="py-"]):not([class*="pt-"]) {
                @apply pt-2;
            }

            &:not([class*="py-"]):not([class*="pb-"]) {
                @apply pb-2;
            }

            &:first-child:not([class*="pl-"]) {
                @apply pl-0;
            }

            &:last-child:not([class*="pr-"]) {
                @apply pr-0;
            }
        }

        th:not([class*="align-"]) {
            @apply align-bottom;
        }

        td:not([class*="align-"]) {
            @apply align-top;
        }
    }

    .user-badge {
        @apply text-sm px-2 py-0.5 rounded-full shadow font-bold;
    }
}
